<template>
    <div>
        <b-row>
            <b-col cols="12">
                <h2>
                    Create resource
                    <b-link v-bind:to="'/resources/'">(Back)</b-link>
                </h2>

                <b-form @submit.prevent="onSubmit">
                    <b-form-group id="fieldsetHorizontal"
                                  horizontal
                                  :label-cols="4"
                                  breakpoint="md"
                                  label="Enter Name">
                        <b-form-input id="isbn" v-model.trim="name"></b-form-input>
                    </b-form-group>
                    <b-form-group id="fieldsetHorizontal"
                                  horizontal
                                  :label-cols="4"
                                  breakpoint="md"
                                  label="Enter Content">
                        <b-form-input id="title" v-model.trim="content"></b-form-input>
                    </b-form-group>
                    <b-form-group id="fieldsetHorizontal"
                                  horizontal
                                  :label-cols="4"
                                  breakpoint="md"
                                  label="Enter Author">
                        <b-form-input id="author" v-model.trim="author"></b-form-input>
                    </b-form-group>
                    <b-form-group id="fieldsetHorizontal"
                                  horizontal
                                  :label-cols="4"
                                  breakpoint="md"
                                  label="Enter Description">
                        <b-form-textarea id="description"
                                         v-model="description"
                                         placeholder="Enter something"
                                         :rows="2"
                                         :max-rows="6">{{description}}
                        </b-form-textarea>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Save</b-button>
                </b-form>
            </b-col>
        </b-row>
    </div>
</template>

<script>
  export default {
    name: "CreateResource",
    data() {
      return {
        name:'',
        content:'',
        author:'',
        description:''
      };
    },
    methods: {
      onSubmit (e) {
        const { name, content, author,description } = this;
        const { dispatch } = this.$store;
        if (name && content && author && description) {
          dispatch('resources/create', { name, content, author,description });
        }
      }
    }
  };
</script>
