<template>
    <div>
        <b-row>
            <b-col cols="12">
                <h2>
                    Resource List
                    <b-link v-bind:to="'/resources/create'">(Add Resource)</b-link>
                </h2>
                <b-table striped hover :items="resources.items" :fields="fields">
                    <template slot="actions" slot-scope="row">
                        <b-btn size="sm" @click.stop="details(row.item)">Details</b-btn>
                    </template>
                </b-table>
            </b-col>
        </b-row>

    </div>
</template>

<script>
  export default {
    name: "ResourceList",
    computed: {
      resources() {
        return this.$store.state.resources.all;
      }
    },
    data() {
      return {
        fields: {
          name: {label: "Name", sortable: true, class: "text-center"},
          author: {label: "Author", sortable: true},
          content: {label: "Content", sortable: true},
          actions: {label: "Action", class: "text-center"}
        },
      };
    },
    created() {
      this.$store.dispatch('resources/getAll');
    },
    methods: {
      details(resource) {
        this.$router.push({
          name: "ShowResource",
          params: {id: resource._id}
        });
      }
    }
  };
</script>
