<template>
    <div>
        <b-container fluid>
            <div class="row">
                <div class="col-sm-6 offset-sm-3">

                    <br>
                    <b-alert
                            v-bind="{'show':((alert.message)? true:false),'variant':alert.variant}"
                            @dismissed="dismissCountDown=0"
                            dismissible>{{alert.message}}
                    </b-alert>
                </div>
            </div>
            <div v-show="isLogged">
                <b-navbar toggleable="md">
                    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

                    <b-navbar-brand href="#">Recursos Scout</b-navbar-brand>

                    <b-collapse is-nav id="nav_collapse">

                        <b-navbar-nav>
                            <b-nav-item v-bind:to="'/'">Inicio</b-nav-item>
                            <b-nav-item v-bind:to="'/resources'">Recursos</b-nav-item>
                            <b-nav-item v-bind:to="'/about'">Sobre mí</b-nav-item>
                            <b-nav-item v-bind:to="'/contact'">Contacto</b-nav-item>
                        </b-navbar-nav>

                        <b-navbar-nav class="ml-auto">

                            <b-nav-form>
                                <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Búsqueda"/>
                                <b-button size="sm" class="my-2 my-sm-0" type="submit">Buscar</b-button>
                            </b-nav-form>
                            <b-nav-item-dropdown text="Lang" hidden right>
                                <b-dropdown-item href="#">EN</b-dropdown-item>
                                <b-dropdown-item href="#">ES</b-dropdown-item>
                                <b-dropdown-item href="#">RU</b-dropdown-item>
                                <b-dropdown-item href="#">FA</b-dropdown-item>
                            </b-nav-item-dropdown>

                            <b-nav-item-dropdown right>
                                <!-- Using button-content slot -->
                                <template slot="button-content" v-if="user !== undefined">
                                    <em>{{user}}</em>
                                </template>
                                <b-dropdown-item href="#">Perfil</b-dropdown-item>
                                <b-dropdown-item to="/login">Salir</b-dropdown-item>
                            </b-nav-item-dropdown>
                        </b-navbar-nav>

                    </b-collapse>
                </b-navbar>
            </div>
            <router-view></router-view>
        </b-container>
    </div>
</template>

<script>
  export default {
    name: 'app',
    computed: {
      alert() {
        return this.$store.state.alert
      },
      isLogged() {
        return this.$store.state.authentication.isLogged;
      },
      user() {
        return this.$store.state.authentication.user;
      },
    },
    watch: {
      $route(to, from) {
        // clear alert on location change
        this.$store.dispatch('alert/clear');
      }
    }
  };
</script>